



<div style=" padding: 100px;
    padding-left: 180px;
    padding-top: 0;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <router-outlet></router-outlet>

   <nav>
    <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Resource</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
 </nav>
  
</div>
